<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <nav class="navbar-nav">
    <br>
    <form class="form-inline mx-auto">
        <a class="btn btn-primary" href="\">Home</a>
        <a class="btn btn-dark" href="{{ url_for('routes.register_view') }}">Register</a>

    </form>
</nav>

{% if username!="guest" %}
<a href="{{ url_for('routes.profile',profileuser=username) }}" style="color: black; text-decoration: none;" >

{% if admin %}
<div style="display: inline;">user: {{ username }} (admin)</div>
{% else %}
<div style="display: inline;">user: {{ username }} </div>
{% endif %}

</a>

<a href="{{ url_for('routes.logout') }}">logout?</a>


{% else %}

<div style="display: inline;">guest </div>

{% endif %}


<a href="https://www.tbceducation.ge" style="display: inline; width: 60px; margin-left: 85%;" target="_blank">
    <img style="display: inline; width: 60px;" src="{{ url_for('static', filename='imgs/tbc.png') }}" alt="">
</a>
<main>
    {% block content %}
    <!-- Default content (optional) -->
    {% endblock %}
</main>
</body>
</html>